name: SwiftLint

on:
  push:
    branches:
      - master
      - develop
    # paths:
    #   - '.github/workflows/swiftlint.yml'
    #   - '.swiftlint.yml'
    #   - '**/*.swift'    
  pull_request:
    branches:
      - master
      - develop
    # paths:
    #   - '.github/workflows/swiftlint.yml'
    #   - '.swiftlint.yml'
    #   - '**/*.swift'

jobs:
  SwiftLint:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: GitHub Action for SwiftLint
        run: |
          swift --version
          brew install swiftlint
          swiftlint --reporter github-actions-logging


